name: CompatHelper
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  CompatHelper:
    uses: xiong-wenjun/RL-in-nuclear/.github/workflows/CompatHelper.yml@main
